@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --bg: #0f1724;
    --card: #0f1724;
    --accent: #ff5100e6;
    --container: 1100px;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
    overflow-x: hidden; 
    width: 100%;        
}

.dark-mode {
    background: linear-gradient(135deg, #020617, #081b29);
    color: #fff;
}
.light-mode {
    background: #f5f7fb;
    color: #000;
}


.light-mode .navbar-brand, 
.light-mode .nav-link {
    color:#0f1724 !important;
}

.light-mode .mode-btn {
    color: #000000;
}

.glass-nav {
    background: rgba(6, 36, 58, 0.9);
    backdrop-filter: blur(10px);
}
.navbar-brand, .nav-link {
    color: #fff !important;
}

.nav-link.active {
    color: #38bdf8 !important; 
    font-weight: 600;
}

.light-mode .glass-nav {
    background: rgba(166, 158, 158, 0.719); 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
}

.highlight { color: #38bdf8; }
.home-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.hero-img {
    max-width: 420px;
    width: 100%;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.btn.primary,
.btn.secondary {
    background:var(--accent);
    color:#000000;border:0;
    box-shadow:0 10px 30px rgb(16, 7, 155);
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    font-weight:600;
    transition: 0.3s;
}

.btn.primary:hover,
.btn.secondary:hover {
    background:#3239ff;
    box-shadow:0 15px 40px rgba(255, 128, 0, 0.916);
    border-radius: 40px;
    transform:translateY(-3px);
}

.hero-actions {
    display:flex;
    align-items:center;
    gap:16px;
    margin-top: 20px;
}

.hero-actions .btn.secondary {
    justify-content: center;
}

.section { 
    padding: 90px 0; 
}

.section-title { 
    text-align: center; margin-bottom: 40px; 
}

.about-card {
    max-width: 800px;
    margin: auto;
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 16px;
}

.light-mode .about-card {
    border: 2px solid #38bdf8;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
}

.bg-soft { background: rgba(92, 73, 73, 0.05); }
.skill-box i {
    font-size: 55px;
    color: #38bdf8;
}
.skill-box p { margin-top: 10px; }

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.4);
    background: transparent;
    color: inherit;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #cbd5e1;
}
.submit-btn {
    background: #38bdf8;
    color: #020617;
    font-weight: 600;
    border-radius: 10px;
}

.social-icons a {
    font-size: 38px;
    margin-right: 15px;
    color: #38bdf8;
    transition: 0.3s;
    margin-left: 15px;
}
.social-icons a:hover {
    transform: scale(1.2);
    color: #fff;
}

.footer {
    background: #020617;
    padding: 15px;
    text-align: center;
}

.light-mode .footer {
    background: #cbd5e1;  
    color: #0f1724;       
}

.btn.mode-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
}

.light-mode .contact-form input, 
.light-mode .contact-form textarea {
    border: 1px solid #94a3b8; 
    color: #0f1724;            
}

.light-mode .contact-form input::placeholder, 
.light-mode .contact-form textarea::placeholder {
    color: #475569;            
}

@media (max-width: 768px) {
    .contact-grid {
    grid-template-columns: 1fr;
    }
}

.resume-modal {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.resume-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .resume-content {
        width: 95%;
    }
}

.resume-viewer-container {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 30px;        
}

.btn.secondary {
    width: max-content;
}